extends layout
block content
    .bg-primary.text-white.text-center
        h1 Hello #{username}
    .container.mt-5
        .row
            .col-sm-4
                h2 About me
                p You are logged in as #{role_name}
                p Email is #{email}
                p You registered at #{createAt}
                p Time now is #{dateNow}
                script.
                    if (window.location.pathname !== '/user') {
                        document.write('<p><a class="btn btn-primary" href="/user">Back</p>')
                    }
                form(action="/logout" method="post")#logout-form
                    a.btn.btn-warning(href="javascript:void(0)")(onclick="document.getElementById('logout-form').submit();") Log out

            .col-sm-8
                block dashboard


    style.
        body {
            padding: 0 !important;
        }

        select {
            position: relative;
            display: inherit;
            min-width: 170px;
            padding: 6px 12px;
            margin: 0 0 30px;
            font-size: 14px;
            text-align: left;
            list-style: none;
            background-color: #fff;
            background-clip: padding-box;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        select:focus {
            border-color: #66afe9;
            outline: 0;
        }