extends ../dashboard

block dashboard
    h2 User Information
    a(href="/user") Back
    table.table.table-striped.user-table
        thead
            tr
                th(scope="col") #
                th(scope="col") Username
                th(scope="col") Email
                th(scope="col") Role
                th(scope="col") UpdateAt
                th(scope="col") Edit
                th(scope="col") Remove
        tbody
            each user, index in users
                tr
                    th(scope="row") #{index}
                    th(scope="row") #{user.username}
                    th(scope="row") #{user.email}
                    th(scope="row") #{user.role_id.name}
                    th(scope="row") #{new Date(user.updateAt).toLocaleString('Vi')}
                    th(scope="row")
                        a(href="/user/#{user._id}") Edit
                    th(scope="row")
                        form(method="POST" id="removeUser#{user._id}" action="/user/remove")
                            input(type="hidden", name="_id", value="#{user._id}")
                            a.removeUser(href="javascript:void" id="removeUser#{user._id}") Remove


    style.
        .user-table {
           font-size: 12px;
         }
    script.
        const arr = document.getElementsByClassName('removeUser');
        for(let i = 0 ; i < arr.length; i++) {
            let id = arr[i].getAttribute('id')
            arr[i].addEventListener('click', function (e) {
                e.preventDefault();
                const r = confirm('Are you sure?');
                if (r) {
                    document.getElementById(id).submit();
                }
            });
        }
